
POSTGRES_USER=smart_bazar
POSTGRES_PASSWORD=JHoew9Y32089irgWlakjd@9y54
POSTGRES_DB=smart_bazar_db
POSTGRES_HOST=smart_bazar_db
POSTGRES_PORT=5432

LOGS_PATH=/opt/logs/smart_bazar_bot/

TELEGRAM_TOKEN=111
